Django==5.2.7

djangorestframework
drf-spectacular

djangorestframework-simplejwt

social-auth-app-django
social-auth-core

django-cors-headers

python-dotenv

psycopg2-binary

Pillow

cloudinary
django-cloudinary-storage
